#mainblock {
    font: 14px Verdana, sans-serif;
    margin: auto;
    background-color: #dbe4ed;
    width: 800px;
    text-align: center;
}

.circleAva {
    float: left;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    border-radius: 50%;
    width: 30%;
}

.headers {
    font: 20px Georgia, serif;
}

.myName {
    margin-top: 30px;
    padding-top: 30px;
    font: 75px Lora, Georgia, serif;
}